
{% extends "layout.html" %}
{% block content %}
    <style>
      nav {
        display: flex;
        justify-content: space-between;
      }

      .char {
        width: 25%
      }
      .links {
        margin: 10px;
        gap 5px;
      }
    </style> 
<body>
    <nav>
        <h1>South Park Game Scores:</h1>
        <div class="links">
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('view_user', username = session['user']) }}">Profile</a>
          <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
    <table id="score-table" class="table">
        <thead class="thead-dark">
            <th onclick="sortTable(0)">Username</th>
            <th onclick="sortTable(1)">Score</th>
            <th>Time</th>
            <th onclick="sortTable(2)">Character</th>
            <th onclick="sortTable(3)">Date</th>
        </thead>
        {% for score in scores%}
        <tr>
            <td><a href={{ url_for('view_user', username = score.username) }}>{{ score.username }}</a></td>
            <td><a href={{ url_for('score_info', score_id = score.score_id) }}>{{ score.score }}</a></td>
            <td>{{ score.time }}</td>
            
            <td><img class='char' src={{ url_for('static', filename='characters/' + score.character + '-front.png') }}></td>
            <td>{{ score.date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock content%}