{% extends "layout.html" %}
{% block content %}
<style>
    .char {
        border: 2px solid black;
        border-radius: 25px;
        margin: 20px;
    }
    .info {
        display: flex;
    }
    nav {
        display: flex;
        justify-content: space-between;
      }
    .links {
        margin: 10px;
        gap: 5px;
      }
</style>
<body>
    <nav>
        <h1>South Park Game Scores:</h1>
        <div class="links">
          <a href="{{ url_for('home') }}">Home</a>
          <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
    <h2>{{ user.username }}</h2>
    <div class="info">
        <img class='char' src={{ url_for('static', filename='characters/' + mpc + '-front.png') }}>
        <div>
            <p>Username: {{ user.username }}</p>
            <p>Favourite Character: {{ mpc }}</p>
            <p>High Score: {{ hs }}</p>
        </div>
    </div>
    <h2>Scores:</h2>
    <table id="score-table" class="table">
        <thead class="thead-dark">
            <th onclick="sortTable(1)">Score</th>
            <th>Time</th>
            <th onclick="sortTable(2)">Character</th>
            <th onclick="sortTable(3)">Date</th>
        </thead>
        {% for score in user.scores%}
        <tr>
            <td>{{ score.score }}</a></td>
            <td>{{ score.time }}</td>
            <td><img width="25%" src={{ url_for('static', filename='characters/' + score.character + '-front.png') }}></td>
            <td>{{ score.date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock content%}